/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:
      'Geist',
      system-ui,
      -apple-system,
      sans-serif;
    font-weight: 300;
  }
}
